<article class="article article-full">
  {{ if segment_1 == "blog"}}
  <header class="article__header">
    {{ if alt_title }}
    <h2 class="article__heading">{{ alt_title }}</h2>
    {{ else }}
    <h2 class="article__heading">{{ title }}</h2>
    {{ endif }}
    
    {{ if author || date || categories_list || tags_list }}
    <div class="article__meta">

      {{ if author|not_empty }}
      {{ member:profile member="{author}" }}
      <!-- <p class="article__author">{{ first_name }} {{ last_name }}</p> -->
      <p class="article__author"><i>By</i> {{ first_name }} {{ last_name }} &nbsp;&nbsp;•&nbsp;&nbsp;<i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;<time pubdate datetime="{{ datestamp format="Y-m-d" }}">{{ date }}</time></p>
      {{ /member:profile }}
      {{ endif }}
    
      {{ if categories_list && tags_list }}
      <p class="article__tax"><b>Category:</b> {{ categories_url_list }} | <b>Tagged:</b> {{ tags_url_list }}</p>
      {{ endif }}

      {{ if categories_list && !tags_list }}
      <p class="article__tax"><b>Category:</b> {{ categories_url_list }}</p>
      {{ endif }}

      {{ if !categories_list && tags_list }}
      <p class="article__tax"><b>Tagged:</b> {{ tags_url_list }}</p>
      {{ endif }}
  {{ endif }}
    </div><!-- END .article__meta -->
    {{ endif }}
  </header>

  {{ if main_img|not_empty }}
  <div class="summary_img"> 
  <!-- <img src={{ main_img }}
            width="50%"
            height="50%"
            alt={{ alt_img_txt }} class="article__img">  -->

  <img src="{{ transform
    src="{main_img}"
    width="625"
    height="325"
    action="resize"
  }}" alt="" class="article__img">
  </div>
  {{ endif }}

  <div class="article__lead">
  {{ summary|smartypants|markdown }}
  </div><!-- END .lead -->

  <div class="article__main">
  {{ content }}
  </div><!-- END .main-content -->
  
  <footer class="article__footer">
    <i> Enjoyed the article?  Share with your friends by clicking below! </i>
  </footer>
</article>

{{ if segment_1 == "blog" }}

<div id="buttons">
<div class="facebook button">
  <i class="fa fa-facebook"></i>
  <div class="social-container fb">
    <div class="slide">
      <iframe src="//www.facebook.com/plugins/like.php?href={{ permalink }}&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=198872863516638" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:81px; height:21px; color:#FFF" allowtransparency="true">
      </iframe>
    </div>
     Facebook
  </div>
</div>
<div class="twitter button">
  <i class="fa fa-twitter"></i>
  <div class="social-container tw">
    <div class="slide">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ permalink }}" data-count-url="{{ permalink }}" data-via="keithaperkins" data-lang="en">
      Tweet </a>
      <script>
    !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
      if(!d.getElementById(id)){
        js=d.createElement(s);
        js.id=id;
        js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
    </div>
     Twitter
  </div>
</div>
<!-- 
<div class="google button">
  <i class="fa fa-google-plus"></i>
  <div class="social-container tw">
    <div class="slide">
      <div class="g-plusone" data-size="medium">
      </div>
      <script type="text/javascript">
    (function() {
      var po = document.createElement('script');
      po.type = 'text/javascript';
      po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
    }
    )();
  </script>
    </div>
     Google+
  </div>
</div>
-->

<div class="pinterest button">
  <i class="fa fa-pinterest"></i>
  <div class="social-container tw">
    <div class="slide">
      <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
      <!-- Please call pinit.js only once per page -->
      <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
    </div>
     Pinterest
  </div>
</div>
</div>

<br />

<hr>

{{ if author|not_empty }}
{{ member:profile member="{author}" }}
<div class="summary_img_list">
  <img src="{{ transform
            src="{{ profilepicture }}"
            width="100"
            height="100"
            action="resize"
          }}" alt="" />
</div>
<h3 style="margin-top: -2px"> About {{ first_name }} {{ last_name }} </h3>
<div class="summary_text">
{{ about }}
</div>
<br />

<hr>
 {{ /member:profile }}
 {{ endif }}

<br />
{{ if show_comments }}
<div class="comments">
  <h3>Leave Your Comments</h3>
  {{ disqus:comments account="{disqus_account}" }}
</div>
{{ endif }}
{{ endif }}

{{#
====================================
  NOTES
====================================

This partial displays a single article if you require a listing use the _article_listings partial. The partials are designed so that you can use them modularly in your templates.

For more information on partials see http://statamic.com/learn/theming/partials.

There is a comments section which uses Disqus, to make this work you will need to set comments to yes in the theme.yaml file and add your Disqus short name in the same file. For more information on using Disqus comments see this post: http://garethredfern.com/article/using-disqus-with-statamic.

The images are using the transform tag which caches images, for this to work you need to set up a cache folder in your assets/img directory with the writeable permissions. You then need to set this as your default location in your settings file: _transform_destination: assets/img/cache/

#}}
